<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Production</string>
	<key>baseURL</key>
	<string>https://gtrend.yapie.me</string>
	<key>testFlags</key>
	<dict>
		<key>noSplash</key>
		<false/>
		<key>applyTestData</key>
		<false/>
		<key>resetData</key>
		<false/>
	</dict>
</dict>
</plist>
